.item{

    margin-bottom: 12px;
}

.item h3{
    background: #f0f0f0;
    padding: 8px 6px;
}

.item p{
    margin-top: 8px;
    line-height: 120%;
    font-size: 13px;
}

.item ul{
    padding-left: 20px;
    margin-top: 10px;
    list-style: disc!important;
}

.item ul.list li{
    font-size: 15px;
    /* margin-top: 10px; */
}