.roadmap__container{
    padding: 30px 10px;
}
.roadmap__head{
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roadmap__head p{
    padding-top: 16px;
}

.roadmap__item{
    padding: 20px 10px 40px;
}

