.button-icon__container{
    display: flex;
    flex-direction: column;

}
.button-icon__container i{
    font-size: 12px;
    height: 14px;
    fill: blue;
}

.button__icon{
    /* display: flex; */
    /* width: 30%; */
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 16px;
    border-radius: 12px;
    border: none;
    font-size: 12px;
    letter-spacing: .4px;
    color: #fff;
}

.button__icon.red{
    background: #9e4383;
}
.button__icon.green{
    background: #076688;
}
.button__icon.blue{
    background: #0c61af;
}